<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.BatchRecordMapper">
	<insert id="add" parameterType="com.batchMesComDK.entity.BatchRecord">
		insert into BatchRecord
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="WorkOrderID!=null">
				WorkOrderID,
			</if>
			<if test="PMCode!=null">
				PMCode,
			</if>
			<if test="PMName!=null">
				PMName,
			</if>
			<if test="LotNo!=null">
				LotNo,
			</if>
			<if test="RecordEvent!=null">
				RecordEvent,
			</if>
			<if test="RecordContent!=null">
				RecordContent,
			</if>
			<if test="Unit!=null">
				Unit,
			</if>
			<if test="RecordStartTime!=null">
				RecordStartTime,
			</if>
			<if test="RecordEndTime!=null">
				RecordEndTime,
			</if>
			<if test="HLimit!=null">
				HLimit,
			</if>
			<if test="LLimit!=null">
				LLimit,
			</if>
			<if test="DeviationType!=null">
				DeviationType,
			</if>
			<if test="RecordType!=null">
				RecordType,
			</if>
			<if test="EquipmentCode!=null">
				EquipmentCode,
			</if>
			<if test="PMCName!=null">
				PMCName,
			</if>
			<if test="PhaseDisc!=null">
				PhaseDisc,
			</if>
			<if test="PhaseID!=null">
				PhaseID,
			</if>
			<if test="FeedPort!=null">
				FeedPort,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="WorkOrderID!=null">
				#{WorkOrderID},
			</if>
			<if test="PMCode!=null">
				#{PMCode},
			</if>
			<if test="PMName!=null">
				#{PMName},
			</if>
			<if test="LotNo!=null">
				#{LotNo},
			</if>
			<if test="RecordEvent!=null">
				#{RecordEvent},
			</if>
			<if test="RecordContent!=null">
				#{RecordContent},
			</if>
			<if test="Unit!=null">
				#{Unit},
			</if>
			<if test="RecordStartTime!=null">
				#{RecordStartTime},
			</if>
			<if test="RecordEndTime!=null">
				#{RecordEndTime},
			</if>
			<if test="HLimit!=null">
				#{HLimit},
			</if>
			<if test="LLimit!=null">
				#{LLimit},
			</if>
			<if test="DeviationType!=null">
				#{DeviationType},
			</if>
			<if test="RecordType!=null">
				#{RecordType},
			</if>
			<if test="EquipmentCode!=null">
				#{EquipmentCode},
			</if>
			<if test="PMCName!=null">
				#{PMCName},
			</if>
			<if test="PhaseDisc!=null">
				#{PhaseDisc},
			</if>
			<if test="PhaseID!=null">
				#{PhaseID},
			</if>
			<if test="FeedPort!=null">
				#{FeedPort},
			</if>
		</trim>
	</insert>
	<insert id="addFromList" parameterType="com.batchMesComDK.entity.BatchRecord">
		insert into BatchRecord (WorkOrderID,PMCode,PMName,LotNo,RecordEvent,RecordContent,Unit,RecordStartTime,
		RecordEndTime,HLimit,LLimit,DeviationType,RecordType,EquipmentCode,PMCName,PhaseDisc,PhaseID,FeedPort) values
		<foreach collection="brList" item="br" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<choose>
					<when test="br.workOrderID!=null">
						#{br.workOrderID},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.pMCode!=null">
						#{br.pMCode},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.pMName!=null">
						#{br.pMName},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.lotNo!=null">
						#{br.lotNo},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.recordEvent!=null">
						#{br.recordEvent},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.recordContent!=null">
						#{br.recordContent},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.unit!=null">
						#{br.unit},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.recordStartTime!=null">
						#{br.recordStartTime},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.recordEndTime!=null">
						#{br.recordEndTime},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.hLimit!=null">
						#{br.hLimit},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.lLimit!=null">
						#{br.lLimit},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.deviationType!=null">
						#{br.deviationType},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.recordType!=null">
						#{br.recordType},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.equipmentCode!=null">
						#{br.equipmentCode},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.pMCName!=null">
						#{br.pMCName},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.phaseDisc!=null">
						#{br.phaseDisc},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.phaseID!=null">
						#{br.phaseID},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="br.feedPort!=null">
						#{br.feedPort},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
			</trim>
		</foreach>
	</insert>
	<delete id="deleteByList">
		delete from BatchRecord where 1=1
		<foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<select id="getListByWorkOrderIDList" resultType="com.batchMesComDK.entity.BatchRecord">
		select * from BatchRecord where 1=1
		<foreach collection="workOrderIDList" item="workOrderID" open=" and cast(workOrderID as char) in (" separator="," close=")">
		#{workOrderID}
		</foreach>
		<foreach collection="recordTypeList" item="recordType" open=" and cast(RecordType as char) in (" separator="," close=")">
		#{recordType}
		</foreach>
		order by RecordType
	</select>
	<update id="updateDevPMCode">
		update BatchRecord set PMCode=#{pMCode} where PMName=#{pMName} and WorkOrderID=#{workOrderID} and RecordType='3'
	</update>
</mapper>