<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.BatchTestMapper">
	<insert id="add" parameterType="com.batchMesComDK.entity.BatchTest">
		insert into [BatchComTest].[dbo].[BatchTest]
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="BatchID!=null">
				BatchID,
			</if>
			<if test="Recipe!=null">
				Recipe,
			</if>
			<if test="Description!=null">
				Description,
			</if>
				State,
			<if test="Mode!=null">
				Mode,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="BatchID!=null">
				#{BatchID},
			</if>
			<if test="Recipe!=null">
				#{Recipe},
			</if>
			<if test="Description!=null">
				#{Description},
			</if>
				'READY',
			<if test="Mode!=null">
				#{Mode},
			</if>
		</trim>
	</insert>
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from [BatchComTest].[dbo].[BatchTest]
	</select>
	<select id="getBLCol_x" resultType="java.lang.String">
		select [key] from [BatchComTest].[dbo].[BatchTest] limit #{startRowNum},1
	</select>
	<update id="updateStateByCreateID">
		update [BatchComTest].[dbo].[BatchTest] set state=#{state} where createID=#{createID}
	</update>
</mapper>