<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.BHBatchHisMapper">
	<select id="getMaterialListByWOIDList" resultType="com.batchMesComDK.entity.BHBatchHis">
		select brTr.PMDisc,brTr.PhaseName,wo.WorkOrderID,rPM.PMCode,his.* from [BatchHistoryEx].[dbo].[BHBatchHis] his,WorkOrder wo,BatchRecordTr brTr,RecipePM rPM
		 where his.BatchID=wo.FormulaId and his.Descript=brTr.PMName and his.Phase=brTr.PhaseName and brTr.PMDisc=rPM.CName
		<foreach collection="workOrderIDList" item="workOrderID" open=" and cast(wo.WorkOrderID as char) in (" separator="," close=")">
		#{workOrderID}
		</foreach>
		 and his.Descript='ADDED_AMOUNT' and his.Event='report'
	</select>
	<select id="getPhaseListByWOIDList" resultType="com.batchMesComDK.entity.BHBatchHis">
		select brTr.PhaseDisc,brTr.PMName,brTr.PMDisc,t.* from (
		select wo.WorkOrderID,wo.FormulaId,his.* from [BatchHistoryEx].[dbo].[BHBatchHis] his,WorkOrder wo where his.BatchID=wo.FormulaId
		<foreach collection="workOrderIDList" item="workOrderID" open=" and cast(wo.WorkOrderID as char) in (" separator="," close=")">
		#{workOrderID}
		</foreach>
		 and Phase!='') t
		 left join BatchRecordTr brTr on t.Phase=brTr.PhaseName
	</select>
</mapper>