<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.ManFeedMapper">
	<insert id="add" parameterType="com.batchMesComDK.entity.ManFeed">
		insert into ManFeed
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ID!=null">
				ID,
			</if>
			<if test="WorkOrderID!=null">
				WorkOrderID,
			</if>
			<if test="MaterialCode!=null">
				MaterialCode,
			</if>
			<if test="MaterialName!=null">
				MaterialName,
			</if>
			<if test="Suttle!=null">
				Suttle,
			</if>
			<if test="Unit!=null">
				Unit,
			</if>
			<if test="FeedTime!=null">
				FeedTime,
			</if>
			<if test="FeedPort!=null">
				FeedPort,
			</if>
			<if test="MarkBit!=null">
				MarkBit,
			</if>
			<if test="MaterialSV!=null">
				MaterialSV,
			</if>
			<if test="Dev1!=null">
				Dev1,
			</if>
			<if test="Dev2!=null">
				Dev2,
			</if>
			<if test="RunStep!=null">
				RunStep,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ID!=null">
				#{ID},
			</if>
			<if test="WorkOrderID!=null">
				#{WorkOrderID},
			</if>
			<if test="MaterialCode!=null">
				#{MaterialCode},
			</if>
			<if test="MaterialName!=null">
				#{MaterialName},
			</if>
			<if test="Suttle!=null">
				#{Suttle},
			</if>
			<if test="Unit!=null">
				#{Unit},
			</if>
			<if test="FeedTime!=null">
				#{FeedTime},
			</if>
			<if test="FeedPort!=null">
				#{FeedPort},
			</if>
			<if test="MarkBit!=null">
				#{MarkBit},
			</if>
			<if test="MaterialSV!=null">
				#{MaterialSV},
			</if>
			<if test="Dev1!=null">
				#{Dev1},
			</if>
			<if test="Dev2!=null">
				#{Dev2},
			</if>
			<if test="RunStep!=null">
				#{RunStep},
			</if>
		</trim>
	</insert>
	<insert id="addFromList">
		insert into ManFeed (WorkOrderID,MaterialCode,MaterialName,Unit,FeedPort,MarkBit,MaterialSV,Dev1,Dev2,RunStep,StepMes) values
		<foreach collection="mfList" item="mf" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<choose>
					<when test="mf.workOrderID!=null">
						#{mf.workOrderID},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="mf.materialCode!=null">
						#{mf.materialCode},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="mf.materialName!=null">
						#{mf.materialName},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="mf.unit!=null">
						#{mf.unit},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="mf.feedPort!=null">
						#{mf.feedPort},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="mf.markBit!=null">
						#{mf.markBit},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="mf.materialSV!=null">
						#{mf.materialSV},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="mf.dev1!=null">
						#{mf.dev1},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="mf.dev2!=null">
						#{mf.dev2},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="mf.runStep!=null">
						#{mf.runStep},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="mf.stepMes!=null">
						#{mf.stepMes},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
			</trim>
		</foreach>
	</insert>
	<delete id="deleteByList">
		delete from ManFeed where 1=1
		<foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="editByWorkOrderIDFeedPort" parameterType="com.batchMesComDK.entity.ManFeed">
		update ManFeed set 
		<trim suffixOverrides=",">
			<if test="suttle!=null">
				suttle=#{suttle},
			</if>
			<if test="unit!=null">
				unit=#{unit},
			</if>
			<if test="feedTime!=null">
				feedTime=#{feedTime},
			</if>
		</trim>
		 where WorkOrderID=#{workOrderID} and FeedPort=#{feedPort} and materialCode=#{materialCode}
		 <if test="runStep!=null">
			 and RunStep=#{runStep}
		 </if>
		 <if test="stepMes!=null">
			 and StepMes=#{stepMes}
		 </if>
		  and MarkBit=${@com.batchMesComDK.entity.ManFeed@WJS}
	</update>
	<select id="getByWorkOrderIDFeedPort" resultType="com.batchMesComDK.entity.ManFeed">
		select * from ManFeed where WorkOrderID=#{workOrderID} and FeedPort=#{feedPort} and MarkBit=0
	</select>
	<update id="updateMarkBitByParamsList">
		update ManFeed set MarkBit=${@com.batchMesComDK.entity.ManFeed@YJS} where 1=1 and
		<foreach collection="mfList" item="mf" open="(" separator=" or " close=")">
		WorkOrderID=#{mf.workOrderID} and FeedPort=#{mf.feedPort} and materialCode=#{mf.materialCode}
		 <if test="mf.runStep!=null">
		 	and RunStep=#{mf.runStep}
		 </if>
		 <if test="mf.stepMes!=null">
		 	and StepMes=#{mf.stepMes}
		 </if>
		</foreach>
		 and MarkBit=${@com.batchMesComDK.entity.ManFeed@WJS}
	</update>
	<select id="getListByWorkOrderIDList" resultType="com.batchMesComDK.entity.ManFeed">
		select * from ManFeed where 1=1
		<foreach collection="workOrderIDList" item="workOrderID" open=" and cast(workOrderID as char) in (" separator="," close=")">
		#{workOrderID}
		</foreach>
	</select>
	<select id="getStepMesListByWOID" resultType="com.batchMesComDK.entity.ManFeed">
		select WorkOrderID,MaterialCode,FeedPort,StepMes,dense_rank() OVER (partition by FeedPort ORDER BY StepMes) RunStep from ManFeed where WorkOrderID=#{workOrderID} ORDER BY StepMes
	</select>
	<update id="updateStepMesByList">
		update ManFeed set RunStep=case 
		<foreach collection="mfList" item="mf">
			when MaterialCode=#{mf.materialCode} then #{mf.runStep}
		</foreach>
		 end where WorkOrderID=#{mfList[0].workOrderID}
	</update>
</mapper>