<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.ManFeedMapper">
	<insert id="add" parameterType="com.batchMesComDK.entity.ManFeed">
		insert into ManFeed
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ID!=null">
				ID,
			</if>
			<if test="WorkOrderID!=null">
				WorkOrderID,
			</if>
			<if test="MaterialCode!=null">
				MaterialCode,
			</if>
			<if test="MaterialName!=null">
				MaterialName,
			</if>
			<if test="Suttle!=null">
				Suttle,
			</if>
			<if test="Unit!=null">
				Unit,
			</if>
			<if test="FeedTime!=null">
				FeedTime,
			</if>
			<if test="FeedPort!=null">
				FeedPort,
			</if>
			<if test="MarkBit!=null">
				MarkBit,
			</if>
			<if test="MaterialSV!=null">
				MaterialSV,
			</if>
			<if test="Dev1!=null">
				Dev1,
			</if>
			<if test="Dev2!=null">
				Dev2,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ID!=null">
				#{ID},
			</if>
			<if test="WorkOrderID!=null">
				#{WorkOrderID},
			</if>
			<if test="MaterialCode!=null">
				#{MaterialCode},
			</if>
			<if test="MaterialName!=null">
				#{MaterialName},
			</if>
			<if test="Suttle!=null">
				#{Suttle},
			</if>
			<if test="Unit!=null">
				#{Unit},
			</if>
			<if test="FeedTime!=null">
				#{FeedTime},
			</if>
			<if test="FeedPort!=null">
				#{FeedPort},
			</if>
			<if test="MarkBit!=null">
				#{MarkBit},
			</if>
			<if test="MaterialSV!=null">
				#{MaterialSV},
			</if>
			<if test="Dev1!=null">
				#{Dev1},
			</if>
			<if test="Dev2!=null">
				#{Dev2},
			</if>
		</trim>
	</insert>
	<insert id="addFromList">
		insert into ManFeed (WorkOrderID,MaterialCode,MaterialName,Unit,FeedPort,MarkBit,MaterialSV,Dev1,Dev2) values
		<foreach collection="mfList" item="mf" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="mf.workOrderID!=null">
					#{mf.workOrderID},
				</if>
				<if test="mf.materialCode!=null">
					#{mf.materialCode},
				</if>
				<if test="mf.materialName!=null">
					#{mf.materialName},
				</if>
				<if test="mf.unit!=null">
					#{mf.unit},
				</if>
				<if test="mf.feedPort!=null">
					#{mf.feedPort},
				</if>
				<if test="mf.markBit!=null">
					#{mf.markBit},
				</if>
				<if test="mf.materialSV!=null">
					#{mf.materialSV},
				</if>
				<if test="mf.dev1!=null">
					#{mf.dev1},
				</if>
				<if test="mf.dev2!=null">
					#{mf.dev2},
				</if>
			</trim>
		</foreach>
	</insert>
	<delete id="deleteByList">
		delete from ManFeed where 1=1
		<foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="editByWorkOrderIDFeedPort" parameterType="com.batchMesComDK.entity.ManFeed">
		update ManFeed set 
		<trim suffixOverrides=",">
			<if test="suttle!=null">
				suttle=#{suttle},
			</if>
			<if test="unit!=null">
				unit=#{unit},
			</if>
			<if test="feedTime!=null">
				feedTime=#{feedTime},
			</if>
		</trim>
		 where WorkOrderID=#{workOrderID} and FeedPort=#{feedPort} and materialCode=#{materialCode} and MarkBit=${@com.batchMesComDK.entity.ManFeed@WJS}
	</update>
	<select id="getByWorkOrderIDFeedPort" resultType="com.batchMesComDK.entity.ManFeed">
		select * from ManFeed where WorkOrderID=#{workOrderID} and FeedPort=#{feedPort} and MarkBit=0
	</select>
	<update id="updateMarkBitByParamsList">
		update ManFeed set MarkBit=${@com.batchMesComDK.entity.ManFeed@YJS} where 1=1 and
		<foreach collection="mfList" item="mf" open="(" separator=" or " close=")">
		WorkOrderID=#{mf.workOrderID} and FeedPort=#{mf.feedPort} and materialCode=#{mf.materialCode}
		</foreach>
		 and MarkBit=${@com.batchMesComDK.entity.ManFeed@WJS}
	</update>
</mapper>