<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.PasteWorkingNumBodyMapper">
	<insert id="add" parameterType="com.batchMesComDK.entity.PasteWorkingNumBody">
		insert into PasteWorkingNumBody
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="workOrder!=null">
				workOrder,
			</if>
			<if test="creamCode!=null">
				creamCode,
			</if>
			<if test="creamWaterNo!=null">
				creamWaterNo,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="workOrder!=null">
				#{workOrder},
			</if>
			<if test="creamCode!=null">
				#{creamCode},
			</if>
			<if test="creamWaterNo!=null">
				#{creamWaterNo},
			</if>
		</trim>
	</insert>
</mapper>