<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.RecipePM_TMPMapper">
	<select id="getByProductParam" resultType="com.batchMesComDK.entity.RecipePM_TMP">
		select rpm_TMP.* from RecipePM_TMP rpm_TMP,RecipeHeader rh where rpm_TMP.RecipeID=rh.RecipeID and rh.ProductCode=#{productCode} and rh.ProductName=#{productName}
	</select>
	<select id="getByRecipeID" resultType="com.batchMesComDK.entity.RecipePM_TMP">
		select * from RecipePM_TMP where RecipeID=#{recipeID}
	</select>
	<insert id="add" parameterType="com.batchMesComDK.entity.RecipePM_TMP">
		insert into RecipePM_TMP
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ID!=null">
				ID,
			</if>
			<if test="PMCode!=null">
				PMCode,
			</if>
			<if test="PMName!=null">
				PMName,
			</if>
			<if test="Lot!=null">
				Lot,
			</if>
			<if test="Dosage!=null">
				Dosage,
			</if>
			<if test="Unit!=null">
				Unit,
			</if>
			<if test="HLimit!=null">
				HLimit,
			</if>
			<if test="LLimit!=null">
				LLimit,
			</if>
			<if test="PMType!=null">
				PMType,
			</if>
			<if test="RecipeID!=null">
				RecipeID,
			</if>
			<if test="CName!=null">
				CName,
			</if>
			<if test="FeedPort!=null">
				FeedPort,
			</if>
			<if test="materialSV!=null">
				materialSV,
			</if>
			<if test="HH!=null">
				HH,
			</if>
			<if test="LL!=null">
				LL,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ID!=null">
				#{ID},
			</if>
			<if test="PMCode!=null">
				#{PMCode},
			</if>
			<if test="PMName!=null">
				#{PMName},
			</if>
			<if test="Lot!=null">
				#{Lot},
			</if>
			<if test="Dosage!=null">
				#{Dosage},
			</if>
			<if test="Unit!=null">
				#{Unit},
			</if>
			<if test="HLimit!=null">
				#{HLimit},
			</if>
			<if test="LLimit!=null">
				#{LLimit},
			</if>
			<if test="PMType!=null">
				#{PMType},
			</if>
			<if test="RecipeID!=null">
				#{RecipeID},
			</if>
			<if test="CName!=null">
				#{CName},
			</if>
			<if test="FeedPort!=null">
				#{FeedPort},
			</if>
			<if test="materialSV!=null">
				#{materialSV},
			</if>
			<if test="HH!=null">
				#{HH},
			</if>
			<if test="LL!=null">
				#{LL},
			</if>
		</trim>
	</insert>
	<delete id="deleteByList">
		delete from RecipePM_TMP where 1=1
		<foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.batchMesComDK.entity.RecipePM_TMP">
		update RecipePM_TMP set 
		<trim suffixOverrides=",">
			<if test="PMCode!=null">
				PMCode=#{PMCode},
			</if>
			<if test="PMName!=null">
				PMName=#{PMName},
			</if>
			<if test="lot!=null">
				lot=#{lot},
			</if>
			<if test="dosage!=null">
				dosage=#{dosage},
			</if>
			<if test="unit!=null">
				unit=#{unit},
			</if>
			<if test="HLimit!=null">
				HLimit=#{HLimit},
			</if>
			<if test="LLimit!=null">
				LLimit=#{LLimit},
			</if>
			<if test="PMType!=null">
				PMType=#{PMType},
			</if>
			<if test="recipeID!=null">
				recipeID=#{recipeID},
			</if>
			<if test="CName!=null">
				CName=#{CName},
			</if>
			<if test="feedPort!=null">
				FeedPort=#{feedPort},
			</if>
			<if test="materialSV!=null">
				materialSV=#{materialSV},
			</if>
			<if test="HH!=null">
				HH=#{HH},
			</if>
			<if test="LL!=null">
				LL=#{LL},
			</if>
		</trim>
		 where ID=#{ID}
	</update>
	<select id="getById" resultType="com.batchMesComDK.entity.RecipePM_TMP">
		select * from RecipePM_TMP where id=#{id}
	</select>
</mapper>