<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.RecipePMMapper">
	<insert id="add" parameterType="com.batchMesComDK.entity.RecipePM">
		insert into RecipePM
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="PMCode!=null">
				PMCode,
			</if>
			<if test="PMName!=null">
				PMName,
			</if>
			<if test="Lot!=null">
				Lot,
			</if>
			<if test="Dosage!=null">
				Dosage,
			</if>
			<if test="Unit!=null">
				Unit,
			</if>
			<if test="HLimit!=null">
				HLimit,
			</if>
			<if test="LLimit!=null">
				LLimit,
			</if>
			<if test="PMType!=null">
				PMType,
			</if>
			<if test="WorkOrderID!=null">
				WorkOrderID,
			</if>
			<if test="CName!=null">
				CName,
			</if>
			<if test="FeedPort!=null">
				FeedPort,
			</if>
			<if test="MaterialSV!=null">
				MaterialSV,
			</if>
			<if test="HH!=null">
				HH,
			</if>
			<if test="LL!=null">
				LL,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="PMCode!=null">
				#{PMCode},
			</if>
			<if test="PMName!=null">
				#{PMName},
			</if>
			<if test="Lot!=null">
				#{Lot},
			</if>
			<if test="Dosage!=null">
				#{Dosage},
			</if>
			<if test="Unit!=null">
				#{Unit},
			</if>
			<if test="HLimit!=null">
				#{HLimit},
			</if>
			<if test="LLimit!=null">
				#{LLimit},
			</if>
			<if test="PMType!=null">
				#{PMType},
			</if>
			<if test="WorkOrderID!=null">
				#{WorkOrderID},
			</if>
			<if test="CName!=null">
				#{CName},
			</if>
			<if test="FeedPort!=null">
				#{FeedPort},
			</if>
			<if test="MaterialSV!=null">
				#{MaterialSV},
			</if>
			<if test="HH!=null">
				#{HH},
			</if>
			<if test="LL!=null">
				#{LL},
			</if>
		</trim>
	</insert>
	<delete id="deleteByList">
		delete from RecipePM where 1=1
		<foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<select id="getListByWorkOrderID" resultType="com.batchMesComDK.entity.RecipePM">
		select * from RecipePM where WorkOrderID=#{workOrderID}
	</select>
	<select id="getManFeedListByWorkOrderID" resultType="com.batchMesComDK.entity.RecipePM">
		select * from RecipePM where PMType=${@com.batchMesComDK.entity.RecipePM@RGTLCS} and WorkOrderID=#{workOrderID}
	</select>
	<update id="updateDosageByPMParam">
		update RecipePM set Dosage=#{dosage} where PMCode=#{pMCode} and PMName=#{pMName}
	</update>
</mapper>