<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.RecipePMMapper">
	<insert id="add" parameterType="com.batchMesComDK.entity.RecipePM">
		insert into RecipePM
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="PMCode!=null">
				PMCode,
			</if>
			<if test="PMName!=null">
				PMName,
			</if>
			<if test="Lot!=null">
				Lot,
			</if>
			<if test="Dosage!=null">
				Dosage,
			</if>
			<if test="Unit!=null">
				Unit,
			</if>
			<if test="HLimit!=null">
				HLimit,
			</if>
			<if test="LLimit!=null">
				LLimit,
			</if>
			<if test="PMType!=null">
				PMType,
			</if>
			<if test="WorkOrderID!=null">
				WorkOrderID,
			</if>
			<if test="CName!=null">
				CName,
			</if>
			<if test="HH!=null">
				HH,
			</if>
			<if test="LL!=null">
				LL,
			</if>
			<if test="PMSort!=null">
				PMSort,
			</if>
			<if test="Step!=null">
				Step,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="PMCode!=null">
				#{PMCode},
			</if>
			<if test="PMName!=null">
				#{PMName},
			</if>
			<if test="Lot!=null">
				#{Lot},
			</if>
			<if test="Dosage!=null">
				#{Dosage},
			</if>
			<if test="Unit!=null">
				#{Unit},
			</if>
			<if test="HLimit!=null">
				#{HLimit},
			</if>
			<if test="LLimit!=null">
				#{LLimit},
			</if>
			<if test="PMType!=null">
				#{PMType},
			</if>
			<if test="WorkOrderID!=null">
				#{WorkOrderID},
			</if>
			<if test="CName!=null">
				#{CName},
			</if>
			<if test="HH!=null">
				#{HH},
			</if>
			<if test="LL!=null">
				#{LL},
			</if>
			<if test="PMSort!=null">
				#{PMSort},
			</if>
			<if test="Step!=null">
				#{Step},
			</if>
		</trim>
	</insert>
	<insert id="addFromList">
		insert into RecipePM(PMCode,PMName,Lot,Dosage,Unit,HLimit,LLimit,PMType,WorkOrderID,
		CName,HH,LL,PMSort,Step) values
		<foreach collection="rPMList" item="rPM" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<choose>
					<when test="rPM.PMCode!=null">
						#{rPM.PMCode},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.PMName!=null">
						#{rPM.PMName},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.lot!=null">
						#{rPM.lot},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.dosage!=null">
						#{rPM.dosage},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.unit!=null">
						#{rPM.unit},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.HLimit!=null">
						#{rPM.HLimit},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.LLimit!=null">
						#{rPM.LLimit},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.PMType!=null">
						#{rPM.PMType},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.workOrderID!=null">
						#{rPM.workOrderID},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.CName!=null">
						#{rPM.CName},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.HH!=null">
						#{rPM.HH},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.LL!=null">
						#{rPM.LL},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.PMSort!=null">
						#{rPM.PMSort},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
				<choose>
					<when test="rPM.step!=null">
						#{rPM.step},
					</when>
					<otherwise>
						'',
					</otherwise>
				</choose>
			</trim>
		</foreach>
	</insert>
	<delete id="deleteByList">
		delete from RecipePM where 1=1
		<foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<select id="getListByWorkOrderID" resultType="com.batchMesComDK.entity.RecipePM">
		select * from RecipePM where WorkOrderID=#{workOrderID} order by PMSort
	</select>
	<select id="getListByWorkOrderIDList" resultType="com.batchMesComDK.entity.RecipePM">
		select * from RecipePM where 1=1
		<foreach collection="workOrderIDList" item="workOrderID" open=" and cast(workOrderID as char) in (" separator="," close=")">
		#{workOrderID}
		</foreach>
		 order by PMSort
	</select>
	<select id="getManFeedListByWorkOrderID" resultType="com.batchMesComDK.entity.RecipePM">
		select * from RecipePM where PMType=${@com.batchMesComDK.entity.RecipePM@RGTLCS} and WorkOrderID=#{workOrderID}
	</select>
	<update id="updateDosageByID">
		update RecipePM set Dosage=#{dosage} where ID=#{id}
	</update>
	<update id="clearDosageByIdList">
		update RecipePM set Dosage=0 where 1=1
		<foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</update>
</mapper>