<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.RecipeHeaderMapper">
	<select id="getByProductParam" resultType="com.batchMesComDK.entity.RecipeHeader">
		select * from RecipeHeader where ProductCode=#{productCode} and ProductName=#{productName}
	</select>
	<select id="getByRecipeID" resultType="com.batchMesComDK.entity.RecipeHeader">
		select * from RecipeHeader where RecipeID=#{recipeID}
	</select>
	<select id="getByWorkOrderID" resultType="com.batchMesComDK.entity.RecipeHeader">
		select rh.* from RecipeHeader rh,WorkOrder w where rh.RecipeID=w.RecipeID and w.WorkOrderID=#{workOrderID}
	</select>
</mapper>