<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.TranslateMapper">
	<insert id="add" parameterType="com.batchMesComDK.entity.Translate">
		insert into Translate
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tabName!=null">
				tabName,
			</if>
			<if test="colName!=null">
				colName,
			</if>
			<if test="chinese!=null">
				chinese,
			</if>
			<if test="pinYin!=null">
				pinYin,
			</if>
			<if test="foreignKey!=null">
				foreignKey,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tabName!=null">
				#{tabName},
			</if>
			<if test="colName!=null">
				#{colName},
			</if>
			<if test="chinese!=null">
				#{chinese},
			</if>
			<if test="pinYin!=null">
				#{pinYin},
			</if>
			<if test="foreignKey!=null">
				#{foreignKey},
			</if>
		</trim>
	</insert>
	<select id="getCount" resultType="java.lang.Integer">
		select COUNT(*) from Translate where tabName=#{tabName} and colName=#{colName} and foreignKey=#{foreignKey}
	</select>
</mapper>