<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchMesComDK.dao.WorkOrderBodyMapper">
	<insert id="add" parameterType="com.batchMesComDK.entity.WorkOrderBody">
		insert into WorkOrderBody
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="workOrder!=null">
				workOrder,
			</if>
			<if test="productCode!=null">
				productCode,
			</if>
			<if test="productName!=null">
				productName,
			</if>
			<if test="totalOutput!=null">
				totalOutput,
			</if>
			<if test="mfgCode!=null">
				mfgCode,
			</if>
			<if test="mfgVersion!=null">
				mfgVersion,
			</if>
			<if test="formulaId!=null">
				formulaId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="workOrder!=null">
				#{workOrder},
			</if>
			<if test="productCode!=null">
				#{productCode},
			</if>
			<if test="productName!=null">
				#{productName},
			</if>
			<if test="totalOutput!=null">
				#{totalOutput},
			</if>
			<if test="mfgCode!=null">
				#{mfgCode},
			</if>
			<if test="mfgVersion!=null">
				#{mfgVersion},
			</if>
			<if test="formulaId!=null">
				#{formulaId},
			</if>
		</trim>
	</insert>
</mapper>